<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src='../static/js/jquery-2.2.3.min.js'></script>
    <script src='../static/bootstrap/js/bootstrap.js'></script>
    <script src='../static/bootstrap/js/bootstrap-table.js'></script>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-select.min.css"/>
    <script src="../static/bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>

<div class="content-wrapper" style="margin-top: 20px;">
    <div class="box">
        <form id="findType">
            <div class="box-body">
                <div class="row">
                    <label class="col-xs-2 control-label"
                           style="text-align: right;height: 35px ;line-height: 35px">
                        <span>数据字典编码</span>
                    </label>
                    <div class="col-xs-12 form-group">
                        <div class="col-xs-6">
                            <input type="text" id="typeCodes" name="typeCode" class="form-control">
                        </div>
                        <div class="col-xs-4" align="">
                            <button type="button" class="btn btn-info btn-sm" onclick="getType()">查询</button>
                            <button type="button" class="btn btn-info btn-sm" onclick="addType()">新增</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="margin: auto;">
                <table class="table-responsive" id="table"></table>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="typeId" value="">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body" style="overflow: hidden">
                <form id="addType">
                    <input type="hidden" class="form-control" id="id" name="id">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label class="control-label">数据字典编码</label>
                            <input type="text" id="typeCode" class="form-control" name="typeCode">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label class=" control-label">数据字典名称</label>
                            <input type="text" id="typeName" class="form-control" name="typeCode">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" onclick="add()" class="btn btn-primary">
                    保存
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLable">数据字典详情</h4>
            </div>
            <div class="modal-body" style="overflow: hidden">
                <table class="table" id="typeDetail">
                    <tr>
                        <th>编码</th>
                        <th>值</th>
                        <th>操作</th>
                    </tr>

                    <tbody id="tbody">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body" style="overflow: hidden">
                <form id="updateType">
                    <input type="hidden" class="form-control" id="id" name="id">
                    <input type="hidden" class="form-control" id="typeId" name="typeId">
                    <div class="form-group">
                        <div class="col-sm-5">
                            <label class="control-label">编码</label>
                            <input type="text" id="detailCode" class="form-control" name="detailCode">
                        </div>
                        <div class="col-sm-5">
                            <label class=" control-label">值</label>
                            <input type="text" id="detailValue" class="form-control" name="detailValue">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" onclick="detail()" class="btn btn-primary">
                    保存
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body" style="overflow: hidden">
                <button type="button" onclick="addLine()" class="btn btn-primary">增添一行</button>
                <form id="addTypeDetail">
                    <div class="modal-body" style="overflow: hidden">
                        <table class="addtypeDetail table" id="addtypeDetail">
                            <tr id="a">
                                <td>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2">编码</label>
                                        <input type="text" class="col-sm-4" name="detailCode">
                                        <label class="col-sm-1">值</label>
                                        <input type="text" class="col-sm-4" name="detailValue">

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" onclick="detail1()" class="btn btn-primary">
                    保存
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="aaa">
<input type="file" class="file" id="fileId" name="file">
</div>
<script type="text/javascript">
    $("#fileId").on("change",function(){
        var val = $("#fileId");
        if (val.val().length > 4) {
            alert("超长");
            return false;
        }
    });

    function bootTable() {
        $("#table").bootstrapTable({
            url: '../type/findType',
            method: "get",
            cache: false,
            toolbar: "#toolbar",
            pagination: false,
            searchText: "",
            showRefresh: false,
            showToggle: false,
            showFooter: true,
            showPaginationSwitch: false,
            columns: [
                {field: "id", visible: false,},
                {
                    title: '序号', align: 'center', halign: 'center', formatter: function (value, row, index) {
//获取table属性
                        var options = $('#table').bootstrapTable('getOptions');
                        return options.pageSize * (options.pageNumber - 1) + index + 1;
                    }
                },
                {field: "typeCode", align: "center", title: "数据字典编码"},
                {field: "typeName", align: "center", title: "数据字典名称"},
                {
                    field: "", title: "操作", align: "center", formatter: function operateFormatter(value, row, index) {
                        html = '<button type="button" class="btn btn-success btn-sm" onclick="getDetail(' + row.id + ')">查看详情</button>' +
                            '<button type="button" class="btn btn-primary btn-sm" onclick="addDetail(' + row.id + ')">添加数据字典值</button>'
                            + '<button type="button" class="btn btn-danger btn-sm" onclick="removeCaiPinType(' + row.id + ')">删除</button>';
                        return html;
                    }
                },
            ],
            queryParams: function (params) {
                var temp = {
                    typeCode: $("#typeCodes").val()
                };
                return temp;
            },
        })
    }

    bootTable();

    function getType() {
        $("#table").bootstrapTable('refresh', '../type/findType');
    }

    function addType() {
        $("#myModal").modal('show');
    }


    //添加一行
    function addLine() {
        var $td = $("#a").clone();       //克隆第一个对象
        $(".addtypeDetail").append($td);         //在table后追加一行
        $(".addtypeDetail tr:last").find("input").val('');   //将尾行元素克隆来的的值清空
    }

    function getDetail(id) {
        $("#myModal2").modal('show');
        get(id);
    }

    function get(typeId) {
        $.ajax({
            url: '/typeDetail/getDetailBytypeId',
            type: 'post',
            async: true,
            dataType: "json",
            data: {typeId: typeId},
            success: function (result) {
                $("#tbody").empty();
                for (var i = 0; i < result.length; i++) {
                    var r = result[i];
                    var $tr = $("<tr><td>"
                        + result[i].detailCode
                        + "</td><td>"
                        + result[i].detailValue
                        + "</td><td>"
                        + '<button type="button" class="btn btn-primary btn-xs" onclick="updateDetail(' + result[i].id + ')">修改</button>'
                        + '<button type="button" class="btn btn-danger btn-xs" onclick="deleteDetail(' + result[i].id + ')">删除</button>'
                        + "</td></tr>"
                    );
                    $("#tbody").append($tr);
                }

            }
        });
    }

    //彈出修改数据字典详情模态框
    function updateDetail(id) {
        $("#myModal3").modal('show');
        if (id != undefined && id != null && id != '') {
            $.ajax({
                url: '/typeDetail/getDetailById',
                type: 'post',
                data: {id: id},
                success: function (data) {
                    //然后 把物料对象赋值给表单
                    $('#id').val(data.id);
                    $('#detailCode').val(data.detailCode);
                    $('#detailValue').val(data.detailValue);
                    $('#typeId').val(data.typeId);
                }
            });
        }
    }

    //保存数据字典详情
    function detail() {
        var id = $('#id').val();
        var detailCode = $("#detailCode").val();
        var detailValue = $("#detailValue").val();
        var typeId = $("#typeId").val();
        if (id != undefined && id != null && id != '') {
            $.ajax({
                url: '/typeDetail/updateDetail',
                type: 'post',
                data: {id: id, detailCode: detailCode, detailValue: detailValue},
                success: function (data) {
                    //然后 把物料对象赋值给表单
                    alert(data);
                    $("#myModal3").modal('hide');
                    get(typeId);

                }
            });
        }
    }

    //添加数据字典种类
    function add() {
        var typeCode = $('#typeCode').val();
        var typeName = $('#typeName').val();
        $.ajax({
            url: '../type/addType',
            type: 'post',
            data: {typeCode: typeCode, typeName: typeName},
            success: function (data) {
                alert(data);
                $("#myModal").modal('hide');
                $('#table').bootstrapTable("refresh");
            }
        });
    }

    //添加数据字典值
    function addDetail(id) {
        $("#typeId").val(id);
        $("#myModal4").modal('show');

    }

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    }
    function detail1() {
        var obj = $("#addTypeDetail").serializeObject();
        var id= $("#typeId").val();
        obj.typeId =id;
        var objs=JSON.stringify(obj);
            $.ajax({
            url: '/typeDetail/addDetail',
            type: 'post',
            data:{objs:objs},
            success: function (data) {
                alert(data);
                $("#myModal4").modal('hide');
            }
        });
    }
</script>
</body>
</html>