<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hiot.infra.mapper.OrderDetailMapper">

<select id="getLineById" resultType="com.hand.hiot.domain.entity.OrderDetail"
        parameterType="com.hand.hiot.domain.entity.OrderDetail">
    SELECT *
    FROM hiot_so_line_25160 WHERE 1=1
    <if test="soHeaderId != '' and soHeaderId != null">
        AND so_header_id=#{soHeaderId}
    </if>
</select>

    <insert id="addorderDetails"  parameterType="com.hand.hiot.domain.entity.OrderDetail">
        INSERT INTO hiot_so_line_25160
        (`so_header_id`,`line_number`,`item_id`,`order_quantity`,`order_quantity_uom`,`unit_selling_price`,`description`,
        `addition1`,`addition2`,`addition3`,`addition4`,`addition5`)
        VALUES
        (#{soHeaderId},#{lineNumber},#{itemId},#{orderQuantity},#{orderQuantityUom},#{unitSellingPrice},#{description},
        #{addition1},#{addition2},#{addition3},#{addition4},#{addition5});
    </insert>

    <select id="getLine" resultType="java.lang.Integer">
        select count(*) from hiot_so_line_25160;
    </select>

    <update id="updateDetails" parameterType="com.hand.hiot.domain.entity.OrderDetail">
        update hiot_so_line_25160 SET object_version_number = object_version_number + 1
        <if test="itemId != null and itemId != '' ">
            ,item_id = #{itemId}
        </if>
        <if test="orderQuantity != null and orderQuantity != ''">
            ,order_quantity = #{orderQuantity}
        </if>
        <if test="orderQuantityUom != null and orderQuantityUom != ''">
            ,order_quantity_uom = #{orderQuantityUom}
        </if>
        <if test="unitSellingPrice != null and unitSellingPrice != '' ">
            ,unit_selling_price = #{unitSellingPrice}
        </if>

        where so_line_id = #{soLineId}
    </update>

</mapper>