<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hiot.infra.mapper.OrderMapper">

<select id="getOrders" resultType="com.hand.hiot.domain.entity.OrderVo" >
    SELECT so_header_id,
    order_number,
    company_id,
    order_date,
    order_status,
    customer_id
    FROM hiot_so_header_25160 h WHERE 1=1
    <if test="orderNumber != '' and orderNumber != null">
        AND h.ORDER_NUMBER LIKE concat('%',#{orderNumber},'%')
    </if>
    <if test="orderStatus != '' and orderStatus != null">
        AND h.order_status = #{orderStatus}
    </if>
    <if test="companyId != '' and companyId != null">
        AND h.COMPANY_ID LIKE concat('%',#{companyId},'%')
    </if>
    <if test="customerId != '' and customerId != null">
        AND h.CUSTOMER_ID LIKE concat('%',#{customerId},'%')
    </if>

    <if test="itemId != '' and itemId != null">
    AND h.so_header_id IN (select so_header_id from hiot_so_line_25160 l where
       l.item_id=#{itemId} AND l.so_header_id = h.so_header_id);
    </if>

</select>

    <insert id="addOrders"  parameterType="com.hand.hiot.domain.entity.Order">
        INSERT INTO hiot_so_header_25160
        (`order_number`,`company_id`,`order_date`,`customer_id`,`order_status`)
        VALUES
        (#{orderNumber},#{companyId},#{orderDate},#{customerId},#{orderStatus});
    </insert>


    <select id="ifHaveHeadId" resultType = "java.lang.Integer"
            parameterType="com.hand.hiot.domain.entity.Order">

   SELECT count(*)
    FROM hiot_so_header_25160 WHERE order_number = #{orderNumber};

    </select>



    <select id="findHeadId" resultType="java.lang.Long"
            parameterType="com.hand.hiot.domain.entity.Order">

   SELECT so_header_id
    FROM hiot_so_header_25160 WHERE order_number = #{orderNumber};

    </select>

    <update id="updateOrder" parameterType="com.hand.hiot.domain.entity.Order">
        update hiot_so_header_25160 SET object_version_number = object_version_number + 1

        <if test="orderStatus != null ">
            ,order_status = #{orderStatus}
        </if>

        where so_header_id = #{soHeaderId}
    </update>
</mapper>